@font-face {
  font-family: 'Candal';
  font-style: normal;
  font-weight: 400;
  src: local('Candal'), url(http://themes.googleusercontent.com/static/fonts/candal/v3/c4OCAZZ9bgJkVvcf-E79mQ.woff) format('woff');
}
