<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link href='http://fonts.googleapis.com/css?family=Codystar|Caesar+Dressing|Henny+Penny|The+Girl+Next+Door|Frijole|Monoton|Squada+One|Spirax|Handlee|Amatic+SC|Macondo|Flavors' rel='stylesheet' type='text/css'>
<style>
body {
    background:black; 
    color:white;
    border:none;
    float:center;
}
a {
    color:#FFF;
}
.welcomeLink {
    font-size:40px;
    font-family: 'Codystar', cursive;
    margin:0 auto;
    width:580px;
}
a:link {
    text-decoration: none;
}
a:active {
    text-decoration: none
}
a:hover {
    text-decoration: underline;
} 
a:visited {
    text-decoration: none;
}
</style>
{% include ga.textile %}
</head>
<body>
{{ content }}
</body>
</html>
